<footer class="footer">
    <div class="container">
        <span class="text-muted">All rights reserved by
            <a href="https://www.linkedin.com/in/parvezmrobin/" target="_blank">Parvez M Robin</a>
            <span id="year"></span>
        </span>
    </div>
</footer>