<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/app.css">
    {% block style %} {% endblock %}
</head>
<body>

{% include '../partials/navbar.twig' %}

{% block content %}{% endblock %}

{% include '../partials/footer.twig' %}

<script src="/javascripts/app.js"></script>
<script>
    $(document).ready(function () {
        $('#year').text('© ' + (new Date()).getFullYear())
    })
</script>

{% block script %}{% endblock %}


</body>
</html>