body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

hr {
    border-top: .25rem inset var(--cyan);
}

.form-control {
    border-color: var(--cyan);
}
