{% extends '../layouts/app.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <canvas id="plane"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="/javascripts/Chart.bundle.js"></script>
    {#<script src="http://www.chartjs.org/samples/latest/utils.js"></script>#}
    <script src="/javascripts/transformation/rotation.js"></script>
{% endblock %}