{% extends '../layouts/app.twig' %}

{% block style %}
    <link rel="stylesheet" href="/stylesheets/matrix.css">
{% endblock %}

{% block content %}

    <div class="container" id="vm" xmlns:v-on="http://www.w3.org/1999/xhtml">
        <div class="row">
            <div class="col-md-8">
                {% include '../partials/matrix.twig' %}
            </div>

            {% verbatim %}
            <div class="col-md-4">
                <div class="input-form needs-validation">
                    <div class="form-label-group row">
                        <input type="number" min="0" :max="dim" id="r" class="form-control" placeholder="Value of r"
                               v-model.number="r" required
                               v-on:keyup.enter="draw"
                               v-on:focus="focused($event)"
                               v-on:blur="blurred"
                        >
                        <label for="r">Value of r</label>
                        <div class="invalid-feedback">r must be a positive number less than 21</div>
                        <div class="valid-feedback">Now click <b>Draw</b> or press <b>Enter</b></div>
                    </div>

                    <div class="form-group row">
                        <button class="btn btn-lg btn-primary btn-block" type="button" v-on:click="draw">Draw</button>
                    </div>

                </div>

                <div class="d-inline-block p-3 bg-primary text-white lead">
                    Or click anywhere in the matrix to draw an arc of corresponding radius.
                </div>
            </div>
            {% endverbatim %}
        </div>

    </div>

{% endblock %}

{% block script %}
    <script src="/javascripts/scan/circle.js"></script>
{% endblock %}